body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.navbar-custom {
    background-color: lightgreen;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px;
}
@media (max-width: 100%) {
    .markdown-body {
        padding: 8px;
    }
}
.container {
    width: 1500px;
    max-width: 90%;
    margin: 0 auto;
}
.col-md-8 {
    width: fit-content;
}
.col-md-4 {
    max-width: fit-content;
}
.sticky-window {
    position: -webkit-sticky;
    position: sticky;
    top: 9%;
}

.card-text {
    font-size: 1.2rem;
}

.paragraph {
    margin-bottom: 2rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Github and Mail Icons */
#footer-icons a:link {
    color: black;
}

#footer-icons a:visited {
    color: black;
}

#footer-icons a:hover {
    color: rgb(34, 104, 255);
}

div.project-content p {
    max-width: 600px;
}

p.project-text {
    max-width: 600px;
}

.notes-form {
    border-width: 1em;
    border-color: white;
}

.error-text {
    color: red;
}

.lesson-input {
    display: flex;
    flex-direction: row;

}
